<div class="question">
  <h3 class="question__title"><%= @question.body %></h3>
  <h4>Answers</h4>
  -- <%= link_to 'Add answer', new_question_answer_path(@question) %> --
  <ol>
    <% @question.answers.each do |answer| %>
      <li>
        <p><%= answer.body %> | <%= link_to '->', answer_path(answer) %></p>
      </li>
    <% end %>
  </ol>
</div>

<%= link_to 'Back to test', test_path(@test) %> |
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= render 'delete_link', question: @question %> |