<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<div>Result: <%= @test_passage.progress %>%</div>

<% if @test_passage.passed? %>
  <div style="color: green"><%= t('.success') %></div>
<% else %>
  <div style="color: red"><%= t('.fail') %></div>
<% end %>

<%= link_to t('.tests'), tests_path %>