<div class="answer">
  <p class="answer__body"><%= @answer.body %></p>
  <p class="answer__correct">
    <% if @answer.correct %>
      <%= t('.correct') %>
    <% else%>
      <%= t('.incorrect') %>
    <% end%>
  </p>
</div>

<%= link_to t('g.back'), admin_question_path(@question) %> |
<%= link_to t('g.edit'), edit_admin_answer_path(@answer) %> |
<%= link_to t('g.delete'),
  admin_answer_path(@answer),
  class: 'answer__delete-link',
  method: :delete,
  title: t('g.delete'),
  data: { confirm: t('g.confirm') } %>