<%= form_with model: [:admin, @test], local: true do |f| %>
  <div class="card border-success mb-3">
    <div class="card-body">
      <%= render 'shared/errors', resource: @test %>
      <div class="form-group">
        <p>
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </p>

        <p>
          <%= f.label :level %>
          <%= f.number_field :level, class: 'form-control' %>
        </p>

        <p>
          <%= f.label :category_id %>
          <%= f.collection_select :category_id, Category.all, :id, :title, { prompt: t('helpers.select_category_prompt') }, class: 'form-control' %>
        </p>

        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end%>
