<h1 class="mb-3"><%= t('.header') %></h1>

<table class="table table-bordered">
  <tr>
    <%= render 'shared/sortable_title', title: t('.title') %>
    <th scope="col"><%= t('.level') %></th>
    <th scope="col"><%= t('.questions') %></th>
    <th scope="col"><%= t('.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
