<div class="test">
  <div class="title"><%= @test.title %> | Questions Count: <%= @test.questions.size %></div>
  <ol>
    <% @questions.each do |question| %>
      <li><%= question.body %> | <%= link_to '->', question_path(question) %></li>
    <% end %>
  </ol>
</div>

<%= link_to 'Back to tests', tests_path %> |
<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Delete', test_path(@test), class: 'test__delete-link', method: :delete, title: 'Delete', data: { confirm: 'You sure?' } %> |
<%= link_to 'New question', new_test_question_path(@test) %>